*{font-weight: bold;}
#myspan{ color:red}
#para2{background-color: #e4da87;font-size: 18px;}
#para3{border:5px green solid; font-size: 20px;}
#para4{border:1rem green solid}
#para5{border:1em green solid}